body {
  background-color: white;
}

.CustomRounded {
  border-radius: 25px;
}

.FooterCard {
  background-color: white;
}

.BorderCard {
  background-color: white;
}

.photoImage {
  object-fit: cover;
  width: 100%;
}

#embedVideo {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#videoWrapper {
  position: absolute;
  z-index: 2;
  top: 46px;
  left: 0px;
  width: 100%;
}
#outerVideoWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

#background-video {
  position: fixed;
  left: -50;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#videoContainer {
  height: calc(100vh - 76px) !important;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

#HomePageContainer {
  margin-top: 33vh;
}

#footerDiv {
  position: relative;
  z-index: 3;
  background-color: rgb(33, 37, 41);
  top: 10px;
}
#marquee-col {
  /* background-color: black; */
  color: whitesmoke;
}

@media (max-width: 768px) {
  #videoContainer {
    height: calc(100% - 76px) !important;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
