#embedVideo {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#videoWrapper {
  position: absolute;
  z-index: 2;
  top: 46px;
  left: 0px;
}
#outerVideoWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

#background-video {
  position: fixed;
  left: -50;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#footerDiv {
  position: relative;
  z-index: 3;
  background-color: red;
  top: 10px;
}
