.dropDownColor > div {
  background-color: rgb(108, 117, 125);
}
.modalBackColor {
  background-color: rgb(33, 37, 41);
}

.modal-header {
  border-bottom: 1;
  border-color: rgb(72, 80, 86);
}
.button-block {
  min-width: 100%;
  width: 100%;
}

#custom-nav-brand {
  justify-content: center;
  text-align: center;
}

#custom-nav-container {
  justify-content: center;
}

#customNavBar {
  position: relative;
  z-index: 4;
}
#nav-link-col {
  width: 97vw;
  z-index: 5;
}

#custom-brand-col {
  z-index: 6;
}

/* #custom-nav-hamburger {
  position: relative;
  top: -18px;
} */

@media screen and (min-width: 768px) {
  #nav-link-col {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #custom-nav-dropdown {
    text-align: left !important;
    position: absolute !important;
    left: 3rem;
  }
}
